.buttons  {
    width: 25%;
    background-color: #f0f0f0;
    font-size: 40px;
    box-shadow: 0px 0px 1px #000;
    text-align: center;
    cursor: pointer;
    border-color: #BBB;
    height: 10vh;
}

.double {
    width: 50%;
     
} 

.triple {
    width: 75%;
}

.operation  {
    color: #fff;
    background-color:#FAB231 ;
}

.operation:hover {
    background-color: #b88525;
}

